runtime/doc/plugin.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plugin" type="pluginType"/>
    <xs:complexType name="dependenciesType">
        <xs:sequence>
            <xs:element name="dependency" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pluginType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="category"/>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="version"/>
            <xs:element type="xs:string" name="url"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="contributors"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="dependenciesType" name="dependencies"/>
            <xs:element type="xs:string" name="applicationVersion"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="category"/>
        <xs:attribute type="xs:string" name="title"/>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="url"/>
        <xs:attribute type="xs:string" name="author"/>
        <xs:attribute type="xs:string" name="contributors"/>
        <xs:attribute type="xs:string" name="applicationVersion"/>
    </xs:complexType>
</xs:schema>